<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.tan.pulltorefreshandloadmore.sample"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:label="@string/listView"
            android:name=".ui.ListViewDemoActivity"/>
        <activity
            android:label="@string/recyclerView"
            android:name=".ui.RecyclerViewDemoActivity"/>
        <activity
            android:label="@string/gridView"
            android:name=".ui.GridViewDemoActivity"/>
        <activity
            android:label="@string/gridView"
            android:name=".ui.ExpandableListDemoActivity"/>
        <activity
            android:label="@string/scrollview"
            android:name=".ui.ScrollViewDemoActivity"/>

    </application>

</manifest>